<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>course</title>
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">


<script src="/spareTimeEdu/app/lib/jquery-1.11.3.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="/spareTimeEdu/app/lib/angular.min.js"></script>
<script src="/spareTimeEdu/app/course/courseList.js"></script>
</head>
<body  ng-app="courseList" ng-controller="courseListCtrl">
keyword:<input type="text" ng-model="condition.keyword">
<input class="btn btn-primary" type="submit" value="search" ng-click="search()">
<span ng-repeat="course in result.obj.courseInfoList"> {{course.CourseBreif}}</span><br>

</body>
</html>